# Dataframe Manipulation Warmup

In [2]:
import numpy as np
import pandas as pd

np.random.seed(406)

n = 5000
df = pd.DataFrame({
    'favorite_animal': np.random.choice(['cat', 'dog', 'frog', 'lemur', 'panda'], n),
    'favorite_vegetable': np.random.choice(['brussel sprouts', 'potato', 'squash'], n),
    'favorite_fruit': np.random.choice(['banana', 'apple', 'blueberries'], n),
    'wears_glasses': np.random.choice(['yes', 'no'], n),
    'netflix_consumption': np.random.normal(10, 2, n),
    'open_browser_tabs': np.random.randint(2, 90, n),
})

1. What is the highest amount of netflix consumption? `17.535`
2. How many people wear glasses? What percentage of people is this? `2555`, `.511`
3. How many people's favorite animal is a dog? `1002`
4. What is the most common favorite animal? `lemur`
5. What is the average netflix consumption for people that prefer brussel sprouts? `10.008`
6. What is the most common favorite fruit for people who wear glasses and have more than 40 open browser tabs? `blueberries`

In [34]:
df.describe()
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   favorite_animal      5000 non-null   object
 1   favorite_vegetable   5000 non-null   object
 2   favorite_fruit       5000 non-null   object
 3   wears_glasses        5000 non-null   object
 4   netflix_consumption  5000 non-null   float64
 5   open_browser_tabs    5000 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 234.5+ KB

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs
0,lemur,potato,apple,yes,8.313351,44
1,panda,potato,apple,yes,11.801073,10
2,cat,squash,blueberries,yes,10.105141,35
3,lemur,squash,apple,no,11.024605,70
4,dog,brussel sprouts,apple,yes,6.732698,73
...,...,...,...,...,...,...
4995,frog,potato,blueberries,yes,9.992337,59
4996,frog,potato,apple,yes,8.916902,46
4997,lemur,squash,banana,no,7.317019,70
4998,lemur,squash,blueberries,yes,12.720892,50
4999,dog,potato,banana,yes,12.890119,53

In [35]:
# What is the highest amount of netflix consumption?
ans1 = df['netflix_consumption'].max()
print('Highest amount of netflix consumption:', round(ans1, 3))

Highest amount of netflix consumption: 17.535

In [23]:
# How many people wear glasses?
ans2_a = df['wears_glasses'].value_counts()['yes']
# What percentage of people is this?
ans2_b = df['wears_glasses'].value_counts(normalize=True)['yes']

print('Number of people who wear glasses:', ans2_a)
print('Percentage of people who wear glasses:', ans2_b)

Number of people who wear glasses: 2555
Percentage of people who wear glasses: 0.511

In [24]:
# How many people's favorite animal is a dog?
ans3 = df['favorite_animal'].value_counts()['dog']
print('Number of people\'s favorite animal is a dog:', ans3)

Number of people's favorite animal is a dog: 1002

In [26]:
# What is the most common favorite animal? 
ans4 = df['favorite_animal'].value_counts().idxmax()
print('Most common favorite animal:', ans4)

Most common favorite animal: lemur

In [31]:
# What is the average netflix consumption for people that prefer brussel sprouts? 
ans5 = df['netflix_consumption'][df['favorite_vegetable'] == 'brussel sprouts'].mean()
print('Average netflix consumption for people that prefer brussel sprouts:', round(ans5, 3))

Average netflix consumption for people that prefer brussel sprouts: 10.008

In [28]:
# What is the most common favorite fruit for people who wear glasses and have more than 40 open browser tabs?
ans6 = df['favorite_fruit'][(df['wears_glasses'] == 'yes') & (df['open_browser_tabs'] > 40)].value_counts().idxmax()
print('Most common favorite fruit for people who wear glasses and have more than 40 open browser tabs:', ans6)

Most common favorite fruit for people who wear glasses and have more than 40 open browser tabs: blueberries